In [1]:
from azureml.core import Dataset
from azureml.data.dataset_factory import DataType

# create a TabularDataset from a delimited file behind a public web url and convert column "Survived" to boolean
web_path ='https://dprepdata.blob.core.windows.net/demo/Titanic.csv'
titanic_ds = Dataset.Tabular.from_delimited_files(path=web_path, set_column_types={'Survived': DataType.to_bool()})

# preview the first 3 rows of titanic_ds
titanic_ds.take(3).to_pandas_dataframe()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,False,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,None,S
1,2,True,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,True,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,None,S

In [3]:
from azureml.core import Workspace, Dataset

In [4]:
subscription_id = 'c46a9435-c957-4e6c-a0f4-b9a597984773'
resource_group = 'mlops'
workspace_name = 'mlopsdev'

workspace = Workspace(subscription_id, resource_group, workspace_name)

Performing interactive authentication. Please follow the instructions on the terminal.
To sign in, use a web browser to open the page https://microsoft.com/devicelogin and enter the code RJJLJT62M to authenticate.
You have logged in. Now let us find all the subscriptions to which you have access...

Failed to authenticate to tenant 'd72bf766-eac5-473f-8170-2e4f4954c317' due to error 'Get Token request returned http error: 400 and server response: {"error":"interaction_required","error_description":"AADSTS50076: Due to a configuration change made by your administrator, or because you moved to a new location, you must use multi-factor authentication to access '797f4846-ba00-4fd7-ba43-dac1f8f63013'.\r\nTrace ID: 4c28fe8e-3812-44c3-a71a-beddca033700\r\nCorrelation ID: 2de8623e-d4bb-4b94-bb20-85211ec34155\r\nTimestamp: 2021-04-11 14:11:48Z","error_codes":[50076],"timestamp":"2021-04-11 14:11:48Z","trace_id":"4c28fe8e-3812-44c3-a71a-beddca033700","correlation_id":"2de8623e-d4bb-4b94-bb20-85211ec34155","error_uri":"https://login.microsoftonline.com/error?code=50076","suberror":"basic_action"}'.Will continue to look for other tenants to find subscriptions to which you have access
Failed to authenticate to tenant 'fc055fcf-8e7f-4c17-a24d-46a1abdcb6de' due to error 'Get Token request returned http error: 400 and server response: {"error":"interaction_required","error_description":"AADSTS50076: Due to a configuration change made by your administrator, or because you moved to a new location, you must use multi-factor authentication to access '797f4846-ba00-4fd7-ba43-dac1f8f63013'.\r\nTrace ID: ddb553f3-a363-4552-9f59-96214cb13c00\r\nCorrelation ID: 52cae59f-59dd-46a2-b487-0dcaec099c9c\r\nTimestamp: 2021-04-11 14:11:48Z","error_codes":[50076],"timestamp":"2021-04-11 14:11:48Z","trace_id":"ddb553f3-a363-4552-9f59-96214cb13c00","correlation_id":"52cae59f-59dd-46a2-b487-0dcaec099c9c","error_uri":"https://login.microsoftonline.com/error?code=50076","suberror":"basic_action"}'.Will continue to look for other tenants to find subscriptions to which you have access

Interactive authentication successfully completed.

In [5]:
# create a TabularDataset from Titanic training data
web_paths = ['https://dprepdata.blob.core.windows.net/demo/Titanic.csv',
             'https://dprepdata.blob.core.windows.net/demo/Titanic2.csv']
titanic_ds = Dataset.Tabular.from_delimited_files(path=web_paths)

# create a new version of titanic_ds
titanic_ds = titanic_ds.register(workspace = workspace,
                                 name = 'titanic_ds',
                                 description = 'new titanic training data',
                                 create_new_version = True)